<div class="profile">
  <img src="../assets/images/profile.jpg" alt="wuttipong thongmon">
</div>
<article class="article">
  <h2 class="greeting">Hey,</h2>
  <h1 class="name">I'm Wuttipong Thongmon</h1>
  <h3 class="message">I’m a Crazy lover, <a href="http://github.com/wuttipongT" target="_blank">web developer</a>, and <a href="http://instagram.com/beddddddddd">find something new
  </a>. Send me an <a href="mailto:bed.wuttipong@gamil.com">email</a>.</h3>
  <div id="instagram" class="instagram"></div>
</article>

